/*game*/
.game-block{height:520px;}
.game-wrap{width:786px;height:486px;border:2px dashed black;position:absolute;left:50%;transform:translatex(-50%);}
.game{margin:5px;width:776px;height:476px;position:absolute;background-color:white;cursor:default;}
.result{z-index:1;}
.result-title{font-size:50px;text-align:center;margin-top:80px;font-weight:bold;}
.result-number{font-size:70px;text-align:center;margin-top:20px;font-weight:bold;}
.result-replay{position:absolute;left:50%;transform:translatex(-50%);top:280px;padding:3px 15px 7px 15px;background:yellow;border-radius:10px;}
.result-replay-text{font-weight:bold;font-size:30px;}
.start{z-index:9;}
.start-text{font-size:45px;text-align:center;position:absolute;top:100px;left:50%;transform:translatex(-50%);font-weight:bold;width:460px;}
.start-button{width:80px;height:80px;border-radius:50%;background-color:red;position:absolute;top:240px;left:50%;transform:translatex(-50%);}
.start-button-text{font-weight:bold;text-align:center;margin-top:30px;}
.number{width:436px;height:436px;margin:20px;position:absolute;}
.number-box{width:50px;height:50px;position:absolute;border:2px solid black;}
.n-top{border-top:4px solid black;}
.n-bottom{border-bottom:4px solid black;}
.n-left{border-left:4px solid black;}
.n-right{border-right:4px solid black;}
.number-box-text{font-size:26px;font-weight:bold;position:absolute;top:50%;left:50%;transform:translatex(-50%)translatey(-50%);}
.n1{left:0px;}
.n2{left:56px;}
.n3{left:110px;}
.n4{left:164px;}
.n5{left:218px;}
.n6{left:272px;}
.n7{left:326px;}
.n8{left:380px;}
.na{top:0px;}
.nb{top:56px;}
.nc{top:110px;}
.nd{top:164px;}
.ne{top:218px;}
.nf{top:272px;}
.ng{top:326px;}
.nh{top:380px;}
.question{position:absolute;left:465px;top:90px;font-size:37px;font-weight:bold;text-align:center;width:300px;height:80px;}
.yes{position:absolute;background-color:green;left:525px;width:180px;height:50px;top:200px;border-radius:30px;}
.no{position:absolute;background-color:red;left:525px;width:180px;height:50px;top:270px;border-radius:30px;}
.replay{position:absolute;background-color:yellow;left:525px;width:180px;height:50px;top:340px;border-radius:30px;}
.button-text{position:absolute;top:50%;left:50%;transform:translatex(-50%)translatey(-50%);font-weight:bold;}
.layer-1{z-index:8;}
.layer-2{z-index:7;}
.layer-3{z-index:6;}
.layer-4{z-index:5;}
.layer-5{z-index:4;}
.layer-6{z-index:3;}
.layer-7{z-index:2;}


/*responsive*/
@media screen and (max-width:849px) {
	.game-wrap{width:486px;height:736px;}
	.game{width:476px;height:726px;}
	.start-text{top:160px;}
	.start-button{top:300px;}
	.question{left:50%;transform:translatex(-50%);top:480px;font-size:30px;width:220px;height:80px;}
	.yes{left:35%;transform:translatex(-65%);top:570px;}
	.no{left:65%;transform:translatex(-35%);top:570px;}
	.replay{left:50%;transform:translatex(-50%);top:650px;}
	.game-block{height:770px;}
}
@media screen and (max-width:559px) {
	.game-wrap{margin-top:-18.5px;transform:translatex(-50%)scale(0.95);}
	.game-block{height:733px;}
}
@media screen and (max-width:529px) {
	.game-wrap{margin-top:-37px;transform:translatex(-50%)scale(0.9);}
	.game-block{height:696px;}
}
@media screen and (max-width:499px) {
	.game-wrap{margin-top:-55.5px;transform:translatex(-50%)scale(0.85);}
	.game-block{height:659px;}
}
@media screen and (max-width:469px) {
	.game-wrap{margin-top:-74px;transform:translatex(-50%)scale(0.8);}
	.game-block{height:622px;}
}
@media screen and (max-width:439px) {
	.game-wrap{margin-top:-92.5px;transform:translatex(-50%)scale(0.75);}
	.game-block{height:585px;}
}
@media screen and (max-width:409px) {
	.game-wrap{margin-top:-111px;transform:translatex(-50%)scale(0.7);}
	.game-block{height:548px;}
}
@media screen and (max-width:379px) {
	.game-wrap{margin-top:-129.5px;transform:translatex(-50%)scale(0.65);}
	.game-block{height:511px;}
}
@media screen and (max-width:349px) {
	.game-wrap{margin-top:-148px;transform:translatex(-50%)scale(0.6);}
	.game-block{height:474px;}
}
@media screen and (max-width:319px) {
	.game-wrap{margin-top:-166.5px;transform:translatex(-50%)scale(0.55);}
	.game-block{height:437px;}
}
@media screen and (max-width:289px) {
	.game-wrap{margin-top:-185px;transform:translatex(-50%)scale(0.5);}
	.game-block{height:400px;}
}
