/*game*/
.game-block{height:400px;}
.game-wrap{width:574px;height:374px;border:2px dashed black;position:absolute;left:50%;transform:translatex(-50%);}
.letter{margin:5px;width:564px;height:364px;position:absolute;}
.game{width:564px;height:364px;position:absolute;background-color:white;cursor:default;}
.question{position:absolute;left:50%;transform:translatex(-50%);width:500px;font-size:35px;font-weight:bold;text-align:center;top:130px;}
.q-long{width:520px;}
.q-start{width:90px;height:40px;position:absolute;background-color:#00ff1e;top:190px;left:50%;transform:translatex(-50%);border-radius:30px;cursor:pointer;}
.q-start:hover{background-color:#00eb1c;}
.q-start-text{font-size:25px;font-weight:bold;position:absolute;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);}
.number{width:324px;height:324px;margin:20px;position:absolute;}
.box{width:76px;height:76px;position:absolute;}
.box-text{position:absolute;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);font-size:40px;font-weight:bold;}
.n-top{border-top:4px solid black;}
.n-bottom{border-bottom:4px solid black;}
.n-left{border-left:4px solid black;}
.n-right{border-right:4px solid black;}
.n1{left:0px;}
.n2{left:80px;}
.n3{left:160px;}
.n4{left:240px;}
.np12{left:50%;transform:translatex(-50%);}
.np1{left:40px;}
.np2{left:120px;}
.np3{left:200px;}
.na{top:0px;}
.nb{top:80px;}
.nc{top:160px;}
.nd{top:244px;}
.n12{left:50%;transform:translatex(-50%);}
.npa{top:40px;}
.npb{top:120px;}
.npc{top:200px;}
.start{z-index:102;}
.start-text{position:absolute;left:50%;transform:translatex(-50%);width:500px;font-size:35px;font-weight:bold;text-align:center;top:130px;}
.start-button{width:90px;height:40px;position:absolute;background-color:#00ff1e;top:190px;left:50%;transform:translatex(-50%);border-radius:30px;cursor:pointer;}
.start-button:hover{background-color:#00eb1c;}
.start-button-text{font-size:25px;font-weight:bold;position:absolute;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);}
.choose{z-index:101;}
.choose-text{position:absolute;left:50%;transform:translatex(-50%);width:450px;font-size:35px;font-weight:bold;text-align:center;top:90px;}
.choose-number{width:436px;height:112px;position:absolute;left:50%;transform:translatex(-50%);top:160px;cursor:pointer;}
.cn-box{width:50px;height:50px;position:absolute;}
.cn-box:hover{background-color:lightblue;}
.cn-box-text{position:absolute;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);font-size:20px;font-weight:bold;}
.cna{top:0px;}
.cnb{top:58px;}
.cn1{left:0px;}
.cn2{left:54px;}
.cn3{left:108px;}
.cn4{left:162px;}
.cn5{left:216px;}
.cn6{left:270px;}
.cn7{left:324px;}
.cn8{left:378px;}
.cn9{left:25px;}
.cn10{left:79px;}
.cn11{left:133px;}
.cn12{left:187px;}
.cn13{left:241px;}
.cn14{left:295px;}
.cn15{left:349px;}
.result-reveal{z-index:2;}
.reveal-box{width:90px;height:40px;position:absolute;background-color:#00ff1e;top:190px;left:50%;transform:translatex(-50%);border-radius:30px;cursor:pointer;}
.reveal-box:hover{background-color:#00eb1c;}
.reveal-text{font-size:20px;font-weight:bold;position:absolute;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);}
.result{z-index:1;}
.result-button{width:90px;height:40px;position:absolute;background-color:#ffff00;top:260px;left:50%;transform:translatex(-50%);border-radius:30px;cursor:pointer;}
.result-button:hover{background-color:#ebeb00;}
.result-button-text{font-size:25px;font-weight:bold;position:absolute;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);}
.result-text{position:absolute;left:50%;transform:translatex(-50%);width:450px;font-size:35px;font-weight:bold;text-align:center;top:70px;}
.result-box{position:absolute;top:130px;left:50%;transform:translatex(-50%);width:470px;height:110px;}
.rb-box{width:50px;height:50px;background-color:lightblue;float:left;display:none;position:absolute;opacity:0;transition:2s;}
.rb-show{display:block;}
.rb-animation{opacity:1;}
.rb-1-1{top:30px;left:210px;}
.rb-2-1{top:30px;left:180px;}
.rb-2-2{top:30px;left:240px;}
.rb-3-1{top:30px;left:150px;}
.rb-3-2{top:30px;left:210px;}
.rb-3-3{top:30px;left:270px;}
.rb-4-1{top:30px;left:120px;}
.rb-4-2{top:30px;left:180px;}
.rb-4-3{top:30px;left:240px;}
.rb-4-4{top:30px;left:300px;}
.rb-5-1{top:30px;left:90px;}
.rb-5-2{top:30px;left:150px;}
.rb-5-3{top:30px;left:210px;}
.rb-5-4{top:30px;left:270px;}
.rb-5-5{top:30px;left:330px;}
.rb-6-1{top:30px;left:60px;}
.rb-6-2{top:30px;left:120px;}
.rb-6-3{top:30px;left:180px;}
.rb-6-4{top:30px;left:240px;}
.rb-6-5{top:30px;left:300px;}
.rb-6-6{top:30px;left:360px;}
.rb-7-1{top:30px;left:30px;}
.rb-7-2{top:30px;left:90px;}
.rb-7-3{top:30px;left:150px;}
.rb-7-4{top:30px;left:210px;}
.rb-7-5{top:30px;left:270px;}
.rb-7-6{top:30px;left:330px;}
.rb-7-7{top:30px;left:390px;}
.rb-8-1{top:30px;left:0px;}
.rb-8-2{top:30px;left:60px;}
.rb-8-3{top:30px;left:120px;}
.rb-8-4{top:30px;left:180px;}
.rb-8-5{top:30px;left:240px;}
.rb-8-6{top:30px;left:300px;}
.rb-8-7{top:30px;left:360px;}
.rb-8-8{top:30px;left:420px;}
.rb-9-1{top:0px;left:0px;}
.rb-9-2{top:0px;left:60px;}
.rb-9-3{top:0px;left:120px;}
.rb-9-4{top:0px;left:180px;}
.rb-9-5{top:0px;left:240px;}
.rb-9-6{top:0px;left:300px;}
.rb-9-7{top:0px;left:360px;}
.rb-9-8{top:0px;left:420px;}
.rb-9-9{top:60px;left:210px;}
.rb-10-1{top:0px;left:0px;}
.rb-10-2{top:0px;left:60px;}
.rb-10-3{top:0px;left:120px;}
.rb-10-4{top:0px;left:180px;}
.rb-10-5{top:0px;left:240px;}
.rb-10-6{top:0px;left:300px;}
.rb-10-7{top:0px;left:360px;}
.rb-10-8{top:0px;left:420px;}
.rb-10-9{top:60px;left:180px;}
.rb-10-10{top:60px;left:240px;}
.rb-11-1{top:0px;left:0px;}
.rb-11-2{top:0px;left:60px;}
.rb-11-3{top:0px;left:120px;}
.rb-11-4{top:0px;left:180px;}
.rb-11-5{top:0px;left:240px;}
.rb-11-6{top:0px;left:300px;}
.rb-11-7{top:0px;left:360px;}
.rb-11-8{top:0px;left:420px;}
.rb-11-9{top:60px;left:150px;}
.rb-11-10{top:60px;left:210px;}
.rb-11-11{top:60px;left:270px;}
.rb-12-1{top:0px;left:0px;}
.rb-12-2{top:0px;left:60px;}
.rb-12-3{top:0px;left:120px;}
.rb-12-4{top:0px;left:180px;}
.rb-12-5{top:0px;left:240px;}
.rb-12-6{top:0px;left:300px;}
.rb-12-7{top:0px;left:360px;}
.rb-12-8{top:0px;left:420px;}
.rb-12-9{top:60px;left:120px;}
.rb-12-10{top:60px;left:180px;}
.rb-12-11{top:60px;left:240px;}
.rb-12-12{top:60px;left:300px;}
.rb-13-1{top:0px;left:0px;}
.rb-13-2{top:0px;left:60px;}
.rb-13-3{top:0px;left:120px;}
.rb-13-4{top:0px;left:180px;}
.rb-13-5{top:0px;left:240px;}
.rb-13-6{top:0px;left:300px;}
.rb-13-7{top:0px;left:360px;}
.rb-13-8{top:0px;left:420px;}
.rb-13-9{top:60px;left:90px;}
.rb-13-10{top:60px;left:150px;}
.rb-13-11{top:60px;left:210px;}
.rb-13-12{top:60px;left:270px;}
.rb-13-13{top:60px;left:330px;}
.rb-14-1{top:0px;left:0px;}
.rb-14-2{top:0px;left:60px;}
.rb-14-3{top:0px;left:120px;}
.rb-14-4{top:0px;left:180px;}
.rb-14-5{top:0px;left:240px;}
.rb-14-6{top:0px;left:300px;}
.rb-14-7{top:0px;left:360px;}
.rb-14-8{top:0px;left:420px;}
.rb-14-9{top:60px;left:60px;}
.rb-14-10{top:60px;left:120px;}
.rb-14-11{top:60px;left:180px;}
.rb-14-12{top:60px;left:240px;}
.rb-14-13{top:60px;left:300px;}
.rb-14-14{top:60px;left:360px;}
.rb-15-1{top:0px;left:0px;}
.rb-15-2{top:0px;left:60px;}
.rb-15-3{top:0px;left:120px;}
.rb-15-4{top:0px;left:180px;}
.rb-15-5{top:0px;left:240px;}
.rb-15-6{top:0px;left:300px;}
.rb-15-7{top:0px;left:360px;}
.rb-15-8{top:0px;left:420px;}
.rb-15-9{top:60px;left:30px;}
.rb-15-10{top:60px;left:90px;}
.rb-15-11{top:60px;left:150px;}
.rb-15-12{top:60px;left:210px;}
.rb-15-13{top:60px;left:270px;}
.rb-15-14{top:60px;left:330px;}
.rb-15-15{top:60px;left:390px;}
.rb-box-text{text-align:center;font-size:35px;font-weight:bold;margin-top:5px;}
.yes{width:130px;height:50px;position:absolute;top:87px;left:390px;background-color:#00ff1e;border-radius:30px;cursor:pointer;}
.yes:hover{background-color:#00eb1c;}
.no{width:130px;height:50px;position:absolute;top:157px;left:390px;background-color:#ff0000;border-radius:30px;cursor:pointer;}
.no:hover{background-color:#eb0000;}
.replay{width:130px;height:50px;position:absolute;top:227px;left:390px;background-color:#ffff00;border-radius:30px;cursor:pointer;}
.replay:hover{background-color:#ebeb00;}
.ynr-text{position:absolute;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);font-size:25px;font-weight:bold;margin-top:-2px;}
.layer-1-q{z-index:100}
.layer-1-1{z-index:99;}
.layer-1-2{z-index:98;}
.layer-1-3{z-index:97;}
.layer-1-4{z-index:96;}
.layer-1-5{z-index:95;}
.layer-2-q{z-index:94;}
.layer-2-1{z-index:93;}
.layer-2-2{z-index:92;}
.layer-2-3{z-index:91;}
.layer-2-4{z-index:90;}
.layer-2-5{z-index:89;}
.layer-3-q{z-index:88;}
.layer-3-1{z-index:87;}
.layer-3-2{z-index:86;}
.layer-3-3{z-index:85;}
.layer-3-4{z-index:84;}
.layer-3-5{z-index:83;}
.layer-4-q{z-index:82;}
.layer-4-1{z-index:81;}
.layer-4-2{z-index:80;}
.layer-4-3{z-index:79;}
.layer-4-4{z-index:78;}
.layer-4-5{z-index:77;}
.layer-5-q{z-index:76;}
.layer-5-1{z-index:75;}
.layer-5-2{z-index:74;}
.layer-5-3{z-index:73;}
.layer-5-4{z-index:72;}
.layer-5-5{z-index:71;}
.layer-6-q{z-index:70;}
.layer-6-1{z-index:69;}
.layer-6-2{z-index:68;}
.layer-6-3{z-index:67;}
.layer-6-4{z-index:66;}
.layer-6-5{z-index:65;}
.layer-7-q{z-index:64;}
.layer-7-1{z-index:63;}
.layer-7-2{z-index:62;}
.layer-7-3{z-index:61;}
.layer-7-4{z-index:60;}
.layer-7-5{z-index:59;}
.layer-8-q{z-index:58;}
.layer-8-1{z-index:57;}
.layer-8-2{z-index:56;}
.layer-8-3{z-index:55;}
.layer-8-4{z-index:54;}
.layer-8-5{z-index:53;}
.layer-9-q{z-index:52;}
.layer-9-1{z-index:51;}
.layer-9-2{z-index:50;}
.layer-9-3{z-index:49;}
.layer-9-4{z-index:48;}
.layer-9-5{z-index:47;}
.layer-10-q{z-index:46;}
.layer-10-1{z-index:45;}
.layer-10-2{z-index:44;}
.layer-10-3{z-index:43;}
.layer-10-4{z-index:42;}
.layer-10-5{z-index:41;}
.layer-11-q{z-index:40;}
.layer-11-1{z-index:39;}
.layer-11-2{z-index:38;}
.layer-11-3{z-index:37;}
.layer-11-4{z-index:36;}
.layer-11-5{z-index:35;}
.layer-12-q{z-index:34;}
.layer-12-1{z-index:33;}
.layer-12-2{z-index:32;}
.layer-12-3{z-index:31;}
.layer-12-4{z-index:30;}
.layer-12-5{z-index:29;}
.layer-13-q{z-index:28;}
.layer-13-1{z-index:27;}
.layer-13-2{z-index:26;}
.layer-13-3{z-index:25;}
.layer-13-4{z-index:24;}
.layer-13-5{z-index:23;}
.layer-14-q{z-index:22;}
.layer-14-1{z-index:21;}
.layer-14-2{z-index:20;}
.layer-14-3{z-index:19;}
.layer-14-4{z-index:18;}
.layer-14-5{z-index:17;}
.layer-15-q{z-index:16;}
.layer-15-1{z-index:15;}
.layer-15-2{z-index:14;}
.layer-15-3{z-index:13;}
.layer-15-4{z-index:12;}
.layer-15-5{z-index:11;}

/*responsive*/
@media screen and (max-width:629px) {
	.game-block{height:560px;}
	.game-wrap{width:378px;height:536px;}
	.letter{width:368px;height:528px;margin:4px 5px;}
	.game{width:368px;height:528px;}
	.start-text{width:300px;top:190px;}
	.start-button{top:290px;}
	.choose-text{width:300px;top:130px;}
	.choose-number{width:274px;top:240px;}
	.cnb1{top:0px;left:0px;border-top:4px solid black;border-left:4px solid black;border-bottom:4px solid black;border-right:0px solid black;}
	.cnb2{top:0px;left:54px;border-top:4px solid black;border-left:4px solid black;border-bottom:4px solid black;border-right:0px solid black;}
	.cnb3{top:0px;left:108px;border-top:4px solid black;border-left:4px solid black;border-bottom:4px solid black;border-right:0px solid black;}
	.cnb4{top:0px;left:162px;border-top:4px solid black;border-left:4px solid black;border-bottom:4px solid black;border-right:0px solid black;}
	.cnb5{top:0px;left:216px;border-top:4px solid black;border-left:4px solid black;border-bottom:4px solid black;border-right:4px solid black;}
	.cnb6{top:58px;left:0px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb7{top:58px;left:54px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb8{top:58px;left:108px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb9{top:58px;left:162px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb10{top:58px;left:216px;border-left:4px solid black;border-bottom:4px solid black;border-right:4px solid black;border-top:0px solid black;}
	.cnb11{top:112px;left:0px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb12{top:112px;left:54px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb13{top:112px;left:108px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb14{top:112px;left:162px;border-left:4px solid black;border-bottom:4px solid black;border-top:0px solid black;border-right:0px solid black;}
	.cnb15{top:112px;left:216px;border-left:4px solid black;border-bottom:4px solid black;border-right:4px solid black;border-top:0px solid black;}
	.question{width:300px;top:190px;}
	.q-start{top:290px;}
	.yes{left:35%;transform:translatex(-65%);top:370px;}
	.no{left:65%;transform:translatex(-35%);top:370px;}
	.replay{left:50%;transform:translatex(-50%);top:440px;}
	.reveal-box{top:220px;}
	.result-text{width:300px;top:160px;}
	.result-box{width:290px;height:170px;top:220px;}
	.rb-1-1{top:60px;left:120px;}
	.rb-2-1{top:60px;left:90px;}
	.rb-2-2{top:60px;left:150px;}
	.rb-3-1{top:60px;left:60px;}
	.rb-3-2{top:60px;left:120px;}
	.rb-3-3{top:60px;left:180px;}
	.rb-4-1{top:60px;left:30px;}
	.rb-4-2{top:60px;left:90px;}
	.rb-4-3{top:60px;left:150px;}
	.rb-4-4{top:60px;left:210px;}
	.rb-5-1{top:60px;left:0px;}
	.rb-5-2{top:60px;left:60px;}
	.rb-5-3{top:60px;left:120px;}
	.rb-5-4{top:60px;left:180px;}
	.rb-5-5{top:60px;left:240px;}
	.rb-6-1{top:30px;left:0px;}
	.rb-6-2{top:30px;left:60px;}
	.rb-6-3{top:30px;left:120px;}
	.rb-6-4{top:30px;left:180px;}
	.rb-6-5{top:30px;left:240px;}
	.rb-6-6{top:90px;left:120px;}
	.rb-7-1{top:30px;left:0px;}
	.rb-7-2{top:30px;left:60px;}
	.rb-7-3{top:30px;left:120px;}
	.rb-7-4{top:30px;left:180px;}
	.rb-7-5{top:30px;left:240px;}
	.rb-7-6{top:90px;left:90px;}
	.rb-7-7{top:90px;left:150px;}
	.rb-8-1{top:30px;left:0px;}
	.rb-8-2{top:30px;left:60px;}
	.rb-8-3{top:30px;left:120px;}
	.rb-8-4{top:30px;left:180px;}
	.rb-8-5{top:30px;left:240px;}
	.rb-8-6{top:90px;left:60px;}
	.rb-8-7{top:90px;left:120px;}
	.rb-8-8{top:90px;left:180px;}
	.rb-9-1{top:30px;left:0px;}
	.rb-9-2{top:30px;left:60px;}
	.rb-9-3{top:30px;left:120px;}
	.rb-9-4{top:30px;left:180px;}
	.rb-9-5{top:30px;left:240px;}
	.rb-9-6{top:90px;left:30px;}
	.rb-9-7{top:90px;left:90px;}
	.rb-9-8{top:90px;left:150px;}
	.rb-9-9{top:90px;left:210px;}
	.rb-10-1{top:30px;left:0px;}
	.rb-10-2{top:30px;left:60px;}
	.rb-10-3{top:30px;left:120px;}
	.rb-10-4{top:30px;left:180px;}
	.rb-10-5{top:30px;left:240px;}
	.rb-10-6{top:90px;left:0px;}
	.rb-10-7{top:90px;left:60px;}
	.rb-10-8{top:90px;left:120px;}
	.rb-10-9{top:90px;left:180px;}
	.rb-10-10{top:90px;left:240px;}
	.rb-11-1{top:0px;left:0px;}
	.rb-11-2{top:0px;left:60px;}
	.rb-11-3{top:0px;left:120px;}
	.rb-11-4{top:0px;left:180px;}
	.rb-11-5{top:0px;left:240px;}
	.rb-11-6{top:60px;left:0px;}
	.rb-11-7{top:60px;left:60px;}
	.rb-11-8{top:60px;left:120px;}
	.rb-11-9{top:60px;left:180px;}
	.rb-11-10{top:60px;left:240px;}
	.rb-11-11{top:90px;left:120px;}
	.rb-12-1{top:0px;left:0px;}
	.rb-12-2{top:0px;left:60px;}
	.rb-12-3{top:0px;left:120px;}
	.rb-12-4{top:0px;left:180px;}
	.rb-12-5{top:0px;left:240px;}
	.rb-12-6{top:60px;left:0px;}
	.rb-12-7{top:60px;left:60px;}
	.rb-12-8{top:60px;left:120px;}
	.rb-12-9{top:60px;left:180px;}
	.rb-12-10{top:60px;left:240px;}
	.rb-12-11{top:90px;left:90px;}
	.rb-12-12{top:90px;left:150px;}
	.rb-13-1{top:0px;left:0px;}
	.rb-13-2{top:0px;left:60px;}
	.rb-13-3{top:0px;left:120px;}
	.rb-13-4{top:0px;left:180px;}
	.rb-13-5{top:0px;left:240px;}
	.rb-13-6{top:60px;left:0px;}
	.rb-13-7{top:60px;left:60px;}
	.rb-13-8{top:60px;left:120px;}
	.rb-13-9{top:60px;left:180px;}
	.rb-13-10{top:60px;left:240px;}
	.rb-13-11{top:90px;left:60px;}
	.rb-13-12{top:90px;left:120px;}
	.rb-13-13{top:90px;left:180px;}
	.rb-14-1{top:0px;left:0px;}
	.rb-14-2{top:0px;left:60px;}
	.rb-14-3{top:0px;left:120px;}
	.rb-14-4{top:0px;left:180px;}
	.rb-14-5{top:0px;left:240px;}
	.rb-14-6{top:60px;left:0px;}
	.rb-14-7{top:60px;left:60px;}
	.rb-14-8{top:60px;left:120px;}
	.rb-14-9{top:60px;left:180px;}
	.rb-14-10{top:60px;left:240px;}
	.rb-14-11{top:90px;left:30px;}
	.rb-14-12{top:90px;left:90px;}
	.rb-14-13{top:90px;left:150px;}
	.rb-14-14{top:90px;left:210px;}
	.rb-15-1{top:0px;left:0px;}
	.rb-15-2{top:0px;left:60px;}
	.rb-15-3{top:0px;left:120px;}
	.rb-15-4{top:0px;left:180px;}
	.rb-15-5{top:0px;left:240px;}
	.rb-15-6{top:60px;left:0px;}
	.rb-15-7{top:60px;left:60px;}
	.rb-15-8{top:60px;left:120px;}
	.rb-15-9{top:60px;left:180px;}
	.rb-15-10{top:60px;left:240px;}
	.rb-15-11{top:90px;left:0px;}
	.rb-15-12{top:90px;left:60px;}
	.rb-15-13{top:90px;left:120px;}
	.rb-15-14{top:90px;left:180px;}
	.rb-15-15{top:90px;left:240px;}
}
@media screen and (max-width:429px) {
	.game-wrap{margin-top:-13.5px;transform:translatex(-50%)scale(0.95);}
	.game-block{height:543px;}
}
@media screen and (max-width:409px) {
	.game-wrap{margin-top:-27px;transform:translatex(-50%)scale(0.9);}
	.game-block{height:506px;}
}
@media screen and (max-width:389px) {
	.game-wrap{margin-top:-40.5px;transform:translatex(-50%)scale(0.85);}
	.game-block{height:479px;}
}
@media screen and (max-width:369px) {
	.game-wrap{margin-top:-54px;transform:translatex(-50%)scale(0.8);}
	.game-block{height:452px;}
}
@media screen and (max-width:349px) {
	.game-wrap{margin-top:-67.5px;transform:translatex(-50%)scale(0.75);}
	.game-block{height:425px;}
}
@media screen and (max-width:329px) {
	.game-wrap{margin-top:-81px;transform:translatex(-50%)scale(0.7);}
	.game-block{height:398px;}
}
@media screen and (max-width:309px) {
	.game-wrap{margin-top:-94.5px;transform:translatex(-50%)scale(0.65);}
	.game-block{height:371px;}
}
@media screen and (max-width:289px) {
	.game-wrap{margin-top:-108px;transform:translatex(-50%)scale(0.6);}
	.game-block{height:344px;}
}
@media screen and (max-width:269px) {
	.game-wrap{margin-top:-121.5px;transform:translatex(-50%)scale(0.55);}
	.game-block{height:317px;}
}
@media screen and (max-width:249px) {
	.game-wrap{margin-top:-135px;transform:translatex(-50%)scale(0.5);}
	.game-block{height:290px;}
}
@media screen and (max-width:229px) {
	.game-wrap{margin-top:-148.5px;transform:translatex(-50%)scale(0.45);}
	.game-block{height:263px;}
}
@media screen and (max-width:209px) {
	.game-wrap{margin-top:-162px;transform:translatex(-50%)scale(0.4);}
	.game-block{height:236px;}
}
@media screen and (max-width:189px) {
	.game-wrap{margin-top:-175.5px;transform:translatex(-50%)scale(0.35);}
	.game-block{height:209px;}
}
@media screen and (max-width:169px) {
	.game-wrap{margin-top:-189px;transform:translatex(-50%)scale(0.3);}
	.game-block{height:182px;}
}
@media screen and (max-width:149px) {
	.game-wrap{margin-top:-202.5px;transform:translatex(-50%)scale(0.25);}
	.game-block{height:155px;}
}