/*body*/
body{margin:0;}
.header{position:fixed;height:60px;width:100%;z-index:2;box-shadow:0px 2px 4px grey;top:0px;background-color:white;}
.header-block{width:100%;height:90px;}



/*header*/
.menu-button{border-radius:50%;height:40px;width:40px;position:absolute;margin:10px;cursor:pointer;border:none;background:none;padding:0px;}
.menu-button:hover{background-color:#f2f2f2;}
.header-title-box{position:absolute;width:140px;height:40px;top:9px;left:60px;cursor:pointer;color:black;text-decoration:none;border-radius:15px;}
.header-title-box:hover{background-color:#f2f2f2;}
.header-title{width:140px;font-size:25px;font-weight:bold;position:absolute;top:50%;transform:translatey(-50%);text-align:center;}
.dark-mode-button{width:40px;height:40px;margin:10px;right:10px;position:absolute;cursor:pointer;background:none;border:none;padding:0px;border-radius:50%;}
.dark-mode-button:hover{background-color:#f2f2f2;}
.dark-mode-off{top:0px;width:40px;height:40px;position:absolute;}
.dark-mode-on{top:0px;width:40px;height:40px;position:absolute;display:none;}
.dark-mode-open{display:block;}
.dark-mode-close{display:none;}
.header-icon{width:30px;height:30px;margin:5px;}


/*menu*/
.menu{width:250px;position:fixed;overflow:auto;top:0px;left:-250px;border-right:1px solid lightgrey;height:100%;z-index:4;background:white;opacity:0;transition:left 0.5s, opacity 0.5s;}
.menu-animation{left:0px;opacity:1;}
.menu-home-setting{height:140px;border-bottom:1px solid lightgrey;}
.menu-home{height:50px;width:240px;border-radius:0px 24px 24px 0px;cursor:pointer;position:absolute;top:20px;text-decoration:none;}
.menu-home:hover{background-color:#f2f2f2;}
.menu-home-text{top:11px;left:15px;position:absolute;font-size:20px;font-family:lacida handwritting, cursive;color:black;}
.menu-setting{height:50px;width:240px;border-radius:0px 24px 24px 0px;cursor:pointer;position:absolute;top:70px;}
.menu-setting:hover{background-color:#f2f2f2;}
.menu-setting-text{top:11px;left:15px;position:absolute;font-size:20px;font-family:lacida handwritting, cursive;color:black;}
.menu-outside{position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:3;display:none;}
.menu-content-wrap{margin-top:20px;margin-bottom:20px;}
.menu-content{height:50px;width:240px;border-radius:0px 24px 24px 0px;cursor:pointer;}
.menu-content:hover{background-color:#f2f2f2;}
.menu-content-link{position:absolute;border-radius:0px 24px 24px 0px;height:50px;width:240px;color:black;}
.menu-content-title{font-size:20px;position:absolute;top:5px;left:15px;text-transform:capitalize;}
.menu-content-desc{font-size:15px;position:absolute;top:25px;left:15px;}


/*content*/
.content-wrap{margin:auto;overflow:auto;}
@media screen and (min-width:320px){
	.content-wrap{width:280px;}
}
@media screen and (min-width:600px){
	.content-wrap{width:560px;}
}
@media screen and (min-width:880px){
	.content-wrap{width:840px;}
}
@media screen and (min-width:1160px){
	.content-wrap{width:1120px;max-width:1120px;}
}
.content{width:250px;height:250px;float:left;margin:15px;}
.content-wrap-inside{position:absolute;width:250px;height:250px;}
.c-link-game{position:absolute;top:0px;width:250px;height:190px;border-radius:20px 20px 0px 0px;z-index:2;}
.c-title{position:absolute;top:0px;width:246px;height:70px;border:2px solid black;border-radius:20px 20px 0px 0px;}
.c-title-text{color:black;text-decoration:none;font-size:25px;font-weight:bold;left:50%;top:50%;transform:translatex(-50%)translatey(-50%);position:absolute;width:235px;text-align:center;margin-top:-2px;}
.c-title-text:hover{text-decoration:underline;}
.c-red{background-color:red;}
.c-yellow{background-color:yellow;}
.c-green{background-color:green;}
.c-blue{background-color:blue;}
.c-desc{position:absolute;top:74px;width:246px;height:112px;border-left:2px solid black;border-right:2px solid black;z-index:1;}
.c-desc-text{font-size:15px;font-weight:bold;margin:5px 8px;}
.c-creator{position:absolute;top:186px;width:246px;height:60px;border:2px solid black;border-radius:0px 0px 20px 20px;}
.c-creator-title{font-size:16px;font-weight:bold;margin:3px 6px;}
.c-creator-text{color:black;text-decoration:none;font-size:22px;font-weight:bold;position:absolute;left:50%;transform:translatex(-50%);top:25px;}
.c-creator-text:hover{text-decoration:underline;}